.top_Shop{
    height:450px;
    background-color: #3b5d50;
    padding-top: 100px;
    margin-bottom:150px ;
}
.list_product{
    margin-top:100px;
}


.top_left{
    color: white;
    padding-top: 30px;
}
.top_left h1{
    font-size:50px;
    font-weight: bold;
}
.top_left p{
    padding-top:20px;
    font-size:15px;
    color: rgba(255, 255, 255, 0.5);
}
.top_left button{
    border-radius: 40px;
    padding: 10px 30px 10px 30px;
}
.btn1{
    font-weight: 600 !important;
    margin-right: 10px;
}
.btn2{
    background-color: #3b5d50 ;
    font-weight: 600 !important;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
}
.btn2:hover{
    border: 1px solid white;
}
.top_right{
    background-image: url("https://themewagon.github.io/furni/images/dots-light.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right top;
}
.top_right img{
    width: 100%;
    height: 100%;
}

.productCart{
    width: 20rem;
    margin: 0 auto;

}




.main_right{
    text-align: center;
    text-decoration: none !important;
    display: block;
    position: relative;
    padding-bottom: 50px;
    cursor: pointer;
    color: black;
    transition: 0.5s;
}

.main_right:hover{
    color: black;
}
.main_right:hover:before {
    height: 70%;
}
.main_right:before {
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    background: #dce5e4;
    height: 0%;
    z-index: -1;
    border-radius: 10px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
}

.main_right:hover .icon_cross{
    opacity: 1;
    bottom: -5px;
    margin-bottom: -17.5px;
}
.icon_cross{
    position: absolute;
    width: 35px;
    height: 35px;
    display: inline-block;
    background: #363636;
    bottom: 15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);

    border-radius: 50%;
    opacity: 0;
    transition: 0.5s;
}
.icon_cross img{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.home_product{
    transition: 0.5s !important;
    position: relative;
    bottom: 30px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;

}

.main_right:hover .home_product{
    position: relative;
    bottom: 60px;
    filter: drop-shadow(5px 5px 15px rgb(106, 106, 106));
}


@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');




.containerr {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
  .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 80px;
    background: #3b5d50;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
     /* box-shadow: 0 0 25px 0 crimson; */
    &:hover {
      cursor: pointer;
    }
    &::before {
      content: "";
      position: absolute;
      margin: auto;
      top: 22px;
      right: 0;
      bottom: 0;
      left: 22px;
      width: 12px;
      height: 2px;
      background: white;
      transform: rotate(45deg);
      transition: all .5s;
    }
    &::after {
      content: "";
      position: absolute;
      margin: auto;
      top: -5px;
      right: 0;
      bottom: 0;
      left: -5px;
      width: 25px;
      height: 25px;
      border-radius: 50%;
      border: 2px solid white;
      transition: all .5s;
    }
  }
  input {
    font-family: 'Inconsolata', monospace;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
     /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */
    background: #3b5d50;
    color: white;
    text-shadow: 0 0 10px #3b5d50;
    padding: 0 80px 0 20px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #3b5d50,
                0 20px 25px 0 rgba(0, 0, 0, 0.2);
     /* box-shadow: inset 0 0 25px 0 rgba(0, 0, 0, 0.5); */
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-weight: bolder;
    letter-spacing: 0.1em;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 300px;
      opacity: 1;
      cursor: text;
    }
    &:focus ~ .search {
      right: -250px;
      background: #151515;
      z-index: 6;
      &::before {
        top: 0;
        left: 0;
        width: 25px;
      }
      &::after {
        top: 0;
        left: 0;
        width: 25px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0%;
        transform: rotate(-45deg);
      }
    }
    &::placeholder {
      color: white;
      opacity: 0.5;
      font-weight: bolder;
    }
  }
}


.select {
    display:flex;
    flex-direction: column;
    position:relative;
    left: 1000px;
    bottom:100px;
    width:250px;
    height:40px;
  }
  
  .option {
    padding:0 30px 0 10px;
    min-height:40px;
    display:flex;
    align-items:center;
    background:#a5a5a5;
    border-top:#979797 solid 1px;
    position:absolute;
    top:0;
    width: 100%;
    pointer-events:none;
    order:2;
    z-index:1;
    transition:background .4s ease-in-out;
    box-sizing:border-box;
    overflow:hidden;
    white-space:nowrap;
    
  }
  
  .option:hover {
    background:#bbbbbb;
  }
  
  .select:focus .option {
    position:relative;
    pointer-events:all;
  }
  
  .select input {
    opacity:0;
    position:absolute;
    left:-99999px;
  }
  
  input:checked + label {
    order: 1;
    z-index:2;
    background:#bebebe;
    border-top:none;
    position:relative;
  }
  
  input:checked + label:after {
    content:'';
    width: 0; 
      height: 0; 
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid white;
    position:absolute;
    right:10px;
    top:calc(50% - 2.5px);
    pointer-events:none;
    z-index:3;
  }
  
  input:checked + label:before {
    position:absolute;
    right:0;
    height: 40px;
    width: 40px;
    content: '';
    background:#c5c5c5;
  }