.top{
    background-color: #3b5d50;
    padding-top: 100px;
}
.top_left{
    color: white;
    padding-top: 30px;
}
.top_left h1{
    font-size:50px;
    font-weight: bold;
}
.top_left p{
    padding-top:20px;
    font-size:15px;
    color: rgba(255, 255, 255, 0.5);
}
.top_left button{
    border-radius: 40px;
    padding: 10px 30px 10px 30px;
}
.btn1{
    font-weight: 600 !important;
    margin-right: 10px;
}
.btn2{
    background-color: #3b5d50 ;
    font-weight: 600 !important;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: white;
}
.btn2:hover{
    border: 1px solid white;
}
.top_right{
    background-image: url("https://themewagon.github.io/furni/images/dots-light.svg");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: right top;
}
.top_right img{
    width: 100%;
    height: 100%;
}

.Main{
    width: 80%;
    margin:50px auto;
    height: 500px;
}
.home_product{
    width: 100%;

}
.explore{
    border-radius: 30px;
    padding: 10px 25px;  
}
.explore b{
    font-size:17px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.p{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
}
.p b{
    font-size:x-large;
}

.main_right a:hover{
    position: relative;
    bottom:20px;

}
.main_right:hover{

    background-color: aqua;
}