
.menu_main{
    justify-content: space-around;
    height: auto;
    background-color: #3b5d50;
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    color: white;
    font-weight: 600;
    font-size: 20px;
}
.menu_page a{
    color: rgba(255, 255, 255, 0.5) !important;
}

.menu_right{
    display: flex;
    padding-top: 10px;
}

.menu_page ul li{
    display: inline-block;   
    padding: 0px 20px 0px 20px;
}
.menu_page ul li a:hover{
    cursor: pointer;
    color: white !important;
}
.menu_login_cart{
    padding-left: 25px;
}
.menu_login_cart a:hover{
    cursor: pointer;
}
.menu_login_cart i{
    padding-right:20px;
}
